@page "/counter"
@rendermode InteractiveServer

<h1 class="mt-4 text-primary">Counter</h1>

<p role="status" class="lead">Current count: <span class="badge bg-secondary">@currentCount</span></p>

<button class="btn btn-primary btn-lg mt-3" @onclick="IncrementCount">Click me</button>
