@page "/fileupload"
@rendermode InteractiveServer

@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject KeyManagementService KeyService
@inject ProtectedSessionStorage ProtectedSessionStorage

<h3>Upload Document</h3>

<div>
    <InputFile OnChange="HandleFileSelected" class="form-control" />
    <input type="text" @bind="FileName" placeholder="Enter File Name" class="form-control mt-2" />
    <button @onclick="UploadFile" class="btn btn-primary mt-2" disabled="@(SelectedFile == null)">Upload</button>
</div>

@if (IsLoading)
{
    <p>Uploading...</p>
}

@if (!string.IsNullOrEmpty(Message))
{
    <p class="@MessageClass">@Message</p>
}
