@page "/"

@inject WebClient.KeyManagementService KeyManagementService

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>Welcome to your new app.</p>

<p>
    Signature Validity:
    <strong>@(KeyManagementService.IsValidSignature ? "Valid" : "Invalid")</strong>
</p>
